* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;;
    color: #333333;
}
.container {
    width: 1305px;
    margin: 0 auto;
}
.main_header {
    background: url(../img/movee_man.png) no-repeat, #FED100;
    background-position: 83% 100%;
    padding: 40px 0;
    height: 650px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color:  #333333;
    text-transform: uppercase;
}
.header_menu {
    display: flex;
}
.header_menu_item {
    padding: 0px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color:  #333333;
    text-transform: capitalize;
}
.header_phone {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color:  #333333;
}
.header_title_main {
    width: 50%;
    font-weight: bold;
    font-size: 70px;
    line-height: 126.9%;
    padding: 50px 0 5px;
}
.header_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 43px;
}
.header_btn {
    background: #FF352B;
    padding: 14px 0;
    width: 23%;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    border: 2px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_items {
    padding-top: 77px;
    display: flex;
    justify-content: space-between;
    width: 43%;
}
.header_item {
    padding-left: 60px;
    font-size: 16px;
    line-height: 21px;
}
.header_item:before {
    content: "";
}
.truck {
    background: url(../img/truck.svg) no-repeat;
}
.package {
    background: url(../img/triggerTwo.svg) no-repeat;
}
.price {
    background: url(../img/money.svg) no-repeat;
}
.process_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding: 95px 0 60px;
    text-align: center;
}
ol.process {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;
}
li.process_item {
    counter-increment: my-awesome-counter;
    display: flex;
    width: 50%;
    padding: 0px 0 0 60px;
}
li.process_item::before {
    content: "0" counter(my-awesome-counter);
    margin-right: 2.5rem;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-shadow: 0px 4px 4px rgba(254, 209, 0.1, 0.25);
}
.process_item_text {
    padding: 5px 5px 71px;
}
.middle_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 17px;
}
.small_text {
    font-size: 16px;
    line-height: 21px;
}
.prices {
    padding: 16px 0 10px 10px;
}
.price_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 60px;
}
ul.tariff {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.tariff_item {
    border: 1px solid rgba(235,235,235,1);
    padding: 84px 65px;
    text-align: center;
}
.small_text.tariff {
    line-height: 45px;
}
.process_title.tariff {
    padding: 50px 0;
}
.header_btn.tariff {
    background: #FED100;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.price_title.tariff {
    padding-bottom: 50px;
}
.tariff_item:hover {
    border: 1px solid rgba(254,209,0,1);
}
.process_title.auto {
    padding-bottom: 20px;
}
.price_title.auto {
    padding-bottom: 58px;
}
.tab {
    /* overflow: hidden; */
    max-width: 641px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #EBEBEB;
    color: #333333;
    text-transform: capitalize;
    width: 201px;
}
.tab button:hover {
    border: 1px solid #FED100;
}
.auto_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auto_description {
    flex: 40%;
    align-self: flex-start;
    padding: 100px 0;
    position: relative;
}
ul.auto_properties {
    list-style: none;
    position: absolute;
    top: 0;
    left: 29%;
    padding: 94px 0 0 0;
}
ul.auto_properties.kabluk, ul.auto_properties.gruzovik {
    left: 12%;
}
li.auto_property {
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 31px;
}
li.auto_property:first-child {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
li.auto_property::before {
    content: "\2713\0020";
    font-weight: bold;
}
li.auto_property:first-child::before, li.auto_property:last-child::before {
    content: '';
}
.header_btn.auto {
    width: 100%;
}
.auto_main.kabluk, .auto_main.gruzovik {
    display: none;
}
.auto_image.gazel {
    flex: 60%;
    padding: 43px 0;
    background: url(../uploads/truck.jpg) 0% 0 no-repeat;
    height: 550px;
    width: 100%;
}
.auto_image.kabluk {
    flex: 60%;
    padding: 43px 0;
    background: url(../uploads/kabluki.jpg) 80% 0 no-repeat;
    height: 351px;
    width: 100%;
}
.auto_image.gruzovik {
    flex: 60%;
    padding: 43px 0;
    background: url(../uploads/gruzovik.jpg) 80% 0 no-repeat;
    height: 433px;
    width: 100%;
    margin-top: -83px;
}
.recommendation {
    background: #FED100;
    padding-bottom: 94px;
}
.otziv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 55px;
    max-height: 325px;
    overflow: hidden;
}
.otziv_item {
    padding-right: 10px;
}
.otziv_name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
}
.otziv_date, .otziv_text {
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 20px;
}
.otziv_date::after {
    content: url(../img/starz.svg);
    padding-left: 10px;
}
.otziv_link {
    color: #333333;
}
.otziv_btn {
    border: 1px solid #333333;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 64px;
    background-color: inherit;
    text-align: center;
    margin: 0 auto;
    display: block;
}